.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rating-area {
  color: #384a4d;
  width: 50%;
  min-height: 22em;
  margin: 0 auto;
  padding: 50px;
  border-radius: 20px;
  background-color: #f0f0f0;
  opacity: 0.94;
}

.rating-score {
  color: #666;
  font-size: 30px;
  margin-top: 25px;
}

.rating-container .star-span {
  cursor: pointer;
}

.rating-container svg {
  margin-right: 3px;
  transition: fill .5s ease;
}